*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

.nav-header
{
    width: 100%;
    height: 50px;
    background-color: royalblue;
    color: white;
    display: flex;
}
.navbar{
    width: 90%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
.nav-1{
    width: 35%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: cornflowerblue; */
}
.nav-list {
    width: 40%;
    display:flex;
    list-style: none;
    gap: 17%;
}
.nav-list li img{
    width: 25px;
    height: 25px;
}
.logo{
    width: 45%;
    height: 95%;
}
.nav-2{
    width: 40%;
    height: 95%;
    display: flex;
    justify-content: space-between;
    /* background-color: slategray; */
}
.nav-3{
    width: 70%;
    display: flex;
    align-items: center;
}
.inp1{
    width: 100%;
    height: 31px;
    border-radius: 50px;
    padding-left: 11px;
    font-size: 14px;
    border: none;
}
.nav-4{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-4 img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

@media (max-width: 576px) {

.nav-3 {
    display: none;
}
.nav-1 {
    width: 65%;
}
.logo {
    width: 55%;
    height: 90%;
}
.nav-2 {
    width: 20%;
}
.nav-4 {
    width: 100%;
    justify-content: end;
}
.nav-list li img {
    width: 20px;
    height: 20px;
}

}

@media (max-width: 768px) {

.nav-1{
    width: 38%;
}
.nav-4 {
    width: 20%;
}
.nav-3 {
    width: 80%;
}
.logo{
    width: 48%;
    height: 90%;
}
.nav-list li img {
    width: 20px;
    height: 20px;
}
.inp1{
    height: 28px;
}

}